<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StaffDao">
    <insert id="CreateStaff" parameterType="pojo.StaffPojo">
        insert into employee_inf(id,name,sex,phone,mail,position,academic,department,address,create_date,post_code,card_id,qq,party,birthday,race,speciality,hobby,remark)
        values (#{id},#{name},#{sex},#{phone},#{mail},#{position},#{academic},#{department},#{address},#{createDate},#{postCode},#{cardId},#{qq},#{party},#{birthday},#{race},#{speciality},#{hobby},#{remark})
    </insert>
    <select id="GetStaff" resultType="pojo.StaffPojo">
        select * from employee_inf order by id desc limit #{offset},#{limit}
    </select>
    <select id="CountStaff" resultType="int">
        select count(*) from employee_inf
    </select>
    <select id="SearchStaff" resultType="pojo.StaffPojo">
        select * from employee_inf where name like "%"#{searchText}"%" order by id desc limit #{offset},#{limit}
    </select>


    <update id="UpdateStaff" parameterType="pojo.StaffPojo">
        update employee_inf set name=#{name},sex=#{sex},phone=#{phone},mail=#{mail},position=#{position},academic=#{academic},address=#{address},
         post_code=#{postCode},card_id=#{cardId},qq=#{qq},party=#{party},birthday=#{birthday},race=#{race},speciality=#{speciality},hobby=#{hobby},remark=#{remark} where id=#{id}
    </update>


    <delete id="DeleteStaff" parameterType="java.util.List">
        delete from employee_inf where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>